
<!DOCTYPE html>
<html>

<head>
    <title>Deliv APP</title>
</head>

<body>
    <center>May Node and JAVA be with you.</center>
    <div>
      <form action="/products" method="get">
        <button type="submit">Products</button>
      </form>
      <form action="/orders" method="get">
        <button type="submit">Orders</button>
      </form>
    </div>

</body>

</html>