
<!DOCTYPE html>
<html>

<head>
    <title>Deliv APP</title>
</head>

<body>
    <center>Your Orders.</center>

    <div>
      <form action="/" method="get">
        <button type="submit">Home</button>
      </form>

      <form action="/products" method="get">
        <button type="submit">Products</button>
      </form>
    </div>
</body>


</html>