
<!DOCTYPE html>
<html>

<head>
    <title>Deliv APP</title>
</head>

<body>
    <center>Our Products.</center>

    <ul style="list-style-type:none;">
      <% prods.forEach((item) => {%>
      <li><%=item.id%>. <%=item.p_name%> ...................................... <%=item.price%> $</li>
      <%});%>
    </ul>

    <center>
    How many you want?

  <div style="margin:10px 100px;">
    <form action="/Orders" method="post">
      <% prods.forEach((item) => {%>
        <li style="list-style-type:none; text-align: left;">
          <input type="number" name="<%= item.id %>" min="0" style="width: 2.6em"/>
          <%= item.p_name %>
        </li>
        <%
      }); %>
      <button> Add Order </button>
    </form>
  </div>
</center>


    <div>
      <form action="/" method="get">
        <button type="submit">Home</button>
      </form>

      <form action="/orders" method="get">
        <button type="submit">Orders</button>
      </form>
    </div>

</body>

</html>